@model CategoryCreateVM

<div class="container-fluid mx-5 my-3">
    <h3>Album Create</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div>
            <label class="my-3" asp-for="Photo"></label>
            <input class="form-control" asp-for="Photo">
            <span class="text-danger my-1" asp-validation-for="Photo"></span>
        </div>
        <div>
            <label class="my-3" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger my-1" asp-validation-for="Name"></span>
        </div>
        <div>
            <label class="my-3" asp-for="Color"></label>
            <input class="form-control" asp-for="Color">
            <span class="text-danger my-1" asp-validation-for="Color"></span>
        </div>
        <a class="btn btn-danger my-3" style="color: white;" asp-controller="album" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary my-3" style="color: white;">Create</button>
    </form>
</div>