@model SongCreateVM


<div class="container-fluid mx-5 my-3">
    <h3>Song Create</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div>
            <label class="my-3" asp-for="Photo"></label>
            <input class="form-control" asp-for="Photo">
            <span class="text-danger my-1" asp-validation-for="Photo"></span>
        </div>
        <div>
            <label class="my-3" asp-for="Audio"></label>
            <input class="form-control" asp-for="Audio">
            <span class="text-danger my-1" asp-validation-for="Audio"></span>
        </div>
        <div>
            <label class="my-3" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger my-1" asp-validation-for="Name"></span>
        </div>
       
        <div>
            <label class="my-3" asp-for="Color"></label>
            <input class="form-control" asp-for="Color">
            <span class="text-danger my-1" asp-validation-for="Color"></span>
        </div>
        <div>
            <label class="my-3" asp-for="CreateDate"></label>
            <input class="form-control"  asp-for="CreateDate">
            <span class="text-danger my-1" asp-validation-for="CreateDate"></span>
        </div>
        <div>
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Category"></select>
            <div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="ArtistIds">Artists</label>
            <select id="ArtistIds" class="form-select" asp-for="ArtistIds" asp-items="@ViewBag.Artists" multiple></select>
            <div>
                <span asp-validation-for="ArtistIds" class="text-danger"></span>
            </div>

        </div>
        <div>
            <label asp-for="AlbumId">Album</label>
            <select id="albumsList" asp-for="AlbumId" class="form-select"></select>
            <span class="text-danger" asp-validation-for="AlbumId"></span>
        </div>
     

        <a class="btn btn-danger my-3" style="color: white;" asp-controller="Song" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary my-3" style="color: white;">Create</button>
    </form>
</div>


<script>
    document.getElementById("ArtistIds").addEventListener("change", function () {
        var artistId = this.value;
        if (artistId) {
            fetch(`/AdminArea/Song/GetAlbums?artistId=${artistId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    var albumsList = document.getElementById("albumsList");
                    if (albumsList) {
                        albumsList.innerHTML = "";
                        if (data.length > 0) {
                            data.forEach(album => {
                                var option = document.createElement("option");
                                option.value = album.id;
                                option.textContent = album.name;
                                albumsList.appendChild(option);
                            });
                        } else {
                            var option = document.createElement("option");
                            option.textContent = "Artist does not have any albums.";
                            albumsList.appendChild(option);
                        }
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });

        }
    });

</script>
